{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center mt-4">
            <h2 class="subheading text-left">Your Basket</h2>
        </div>
    </div>
    <div class="row">
        <div class="product-container col-12">
            {% if bag_items %}
            {% for item in bag_items %}

            <!-- Desktop Layout -->
            <div class="table-responsive rounded" id="bag">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-center">Subtotal</th>
                            <th scope="col" class="text-center">Remove</th>
                        </tr>
                    </thead>

                    {% for item in bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="py-3">
                            <h3 class="product-name mb-2">{{ item.product.name }}</h3>
                            <p class="text-left"><i class="fas fa-star text-grey mr-1"></i>{{ item.product.rating }} /
                                10</p>

                            <p class="my-0"><strong>Size: </strong>
                                {{ item.size|upper }}
                                {% if item.product.has_clothes_size %}{{ item.clothes_size|upper }}
                                {% elif item.product.has_stick_size %}{{ item.stick_size }}
                                {% else %}N/A
                                {% endif %}</p>

                            <p class="mb-0 text-muted text-left">SKU: {{ item.product.sku|upper }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.product.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group border-black">
                                        <div class="input-group-prepend">
                                            <button class=" quantity-button decrement-qty btn btn-sm btn-grey rounded-0"
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input text-black text-center"
                                            type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="quantity-button increment-qty btn btn-sm btn-grey rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        {% if item.product.has_sizes %}
                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-info"><small>Update</small></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0 text-center">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>

                        <td class="py-3 text-center">
                            <a class="nav-link remove-item" id="remove_{{ item.item_id }}"
                                data-clothes_size="{{ item.size }}">
                                <div><i class="fa-solid text-grey fa-lg fa-trash"></i>
                                </div>
                            </a>
                        </td>

                    </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="6" class="pt-2 text-right">
                            <h5 class=font-weight-bold">Basket Total: £{{ total|floatformat:2 }}</h5>
                            {% if delivery == 0 %}
                            <p class="mb-0"><i class="fa-solid fa-circle-check fa-lg"></i> Free Delivery Offer</p>
                            {% else %}
                            <p class="mb-0"><i class="fa-solid fa-circle-xmark fa-lg" data-toggle="popover"
                                    data-content="Spend £{{ free_delivery_delta }} more for the free delivery offer!"></i>
                                Free Delivery Offer</p>
                            {% endif %}

                            <p>Delivery Total: £{{ delivery|floatformat:2 }}</p>
                            <h3 class="subheading">Grand Total: £{{ grand_total|floatformat:2 }}</h3>
                            <a href="" class="btn-grey-add font-weight-bold py-2 px-4">
                                <span class="text-white">Secure Checkout</span>
                                <span class="icon"><i class="text-white fas fa-lock"></i></span>
                            </a>

                            <a href="{% url 'products' %}?category=sticks"
                                class="btn-white-add font-weight-bold py-2 px-4">
                                <span class="icon"><i class="fa-solid fa-circle-arrow-left"></i></span>
                                <span>View our sticks</span>

                            </a>
                        </td>
                    </tr>
                </table>


            </div>

            <!-- Mobile layout -->
            <div id="mobile-bag">
                <div class="py-3 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                    <div class="card h-100 border-0">
                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                    </div>
                </div>
                <div class="py-3 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                    <div class="card-body pt-0 pb-0">
                        <div class="row">
                            <div class="col">
                                <h3 class="product-name mb-2">{{ item.product.name }}</h3>
                                <p class="text-left"><i class="fas fa-star text-grey mr-1"></i>{{ item.product.rating }}
                                    /
                                    10</p>
                            </div>
                        </div>
                        <p class="my-0"><strong>Size: </strong>
                            {% if item.product.has_clothes_size %}{{ item.product_size|upper }}
                            {% elif item.product.has_stick_size %}{{ item.stick_size }}
                            {% else %}N/A
                            {% endif %}</p>

                        <p class="mb-0 text-muted text-left">SKU: {{ item.product.sku|upper }}</p>
                        <h6 class="my-2 text-center font-weight-bold">Price £{{ item.product.price }}</h6>
                        <div class="input-group border-black">
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn btn-grey rounded-0" data-item_id="{{ item.item_id }}"
                                    id="decrement-qty_{{ item.item_id }}">
                                    <span>
                                        <i class="fas fa-minus"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="form-control qty_input text-black text-center" type="number" name="quantity"
                                value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                                id="id_qty_{{ item.item_id }}">
                            <div class="input-group-append">
                                <button class="increment-qty btn btn-grey rounded-0" data-item_id="{{ item.item_id }}"
                                    id="increment-qty_{{ item.item_id }}">
                                    <span>
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                            {% if item.product.has_sizes %}
                            <input type="hidden" name="product_size" value="{{ item.size }}">
                            {% endif %}
                        </div>
                        <h6 class="my-2 text-center font-weight-bold">Subtotal: £{{ item.product.price }}</h6>
                    </div>
                </div>
                {% endfor %}

                <div class="row mt-3">
                    <div class="col">
                        <h5 class="text-center font-weight-bold">Basket Total: £{{ total|floatformat:2 }}</h5>
                        {% if delivery == 0 %}
                        <p class="text-center mb-0"><i class="fa-solid fa-circle-check fa-lg"></i> Free Delivery Offer
                        </p>
                        {% else %}
                        <p class="text-center mb-0"><i class="fa-solid fa-circle-xmark fa-lg"></i> Free Delivery Offer
                        </p>
                        {% endif %}
                        <p class="text-center">Delivery Total: £{{ delivery|floatformat:2 }}</p>
                        <h3 class="subheading text-center">Grand Total: £{{ grand_total|floatformat:2 }}</h3>
                    </div>
                </div>
                <div class="col-12">
                    <a href="{% url 'products' %}?category=sticks"
                        class="btn-white-add font-weight-bold py-2 px-4 mb-2">
                        <span class="icon"><i class="fa-solid fa-circle-arrow-left"></i></span>
                        <span>View our sticks</span>
                    </a>
                    <a href="" class="btn-grey-add font-weight-bold py-2 px-4">
                        <span class="text-white">Secure Checkout</span>
                        <span class="icon"><i class="fas fa-lock"></i></span>
                    </a>
                </div>
            </div>
            {% else %}
            <h5 class="py-4">Your basket is empty.</h5>
            <a href="{% url 'products' %}?category=sticks"
                class="btn rounded-0 btn-white-add float-left font-weight-bold py-2 px-4 mb-2">
                <span class="icon"><i class="fa-solid fa-circle-arrow-left"></i></span>
                <span>View our sticks</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('clothes_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'clothes_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })

    // Popover for delivery offer below threshold
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            placement: 'left',
            trigger: 'hover'
        });
    });
</script>

{% endblock %}