{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-4 my-auto welcome-container">
                <h2 class="welcome-message text-black text-center py-3">
                    Welcome to Otter Hockey
                </h2>
                <h3 class="banner-offer text-black text-center">
                    New clothing to check out!
                </h3>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button banner-offer btn rounded-0 py-3">View all clothes</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}