{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container welcome-container h-100">
    <div class="row h-100">
        <div class="col-lg-6 my-auto welcome-message">
            <h1 class="display-4 welcome-heading">
                Welcome to Otter Hockey
            </h1>
            <h4 class="welcome-tag text-uppercase">
                Premium affordable hockey sticks
            </h4>
            <div class="my-5 index-button">
                <h4>
                    <a href="{% url 'products' %}?category=sticks" class="btn-black btn rounded-5 py-3"><strong>
                            View all Sticks
                        </strong></a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}