[MASTER]
ignore=static,templates,migrations
load-plugins=pylint_django
django-settings-module=otter_hockey.settings
disable=
; C0114, # (missing-module-docstring)
; C0115, # (missing-class-docstring)
; C0116, # (missing-function-docstring)