{% extends "base.html" %}
{% load static %}

{% block extra_title %}| About Us {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 text-left mt-4">
            <h2 class="subheading text-left">About Us</h2>

            <p class="font-weight-bold">Our Story</p>
            <p>
                Whilst at University our founder, Kyle, broke his hockey stick and had not budgeted to purchase another.
                The idea of making hockey sticks premium but affordable then formed. Upon our start in 2018, we
                originally planned to make one range of sticks, but in April 2019 the community wanted more, we gave you
                more. Fast forward two years later and our sticks were at the Tokyo 2020 Olympics, used by Melanie
                Garcia of Spain. Showcasing to the world how Hockey can be Premium, but Affordable. Keep an eye out,
                we've got more to come.
            </p>

            <p class="font-weight-bold">Why did we create Otter?</p>
            <p>
                Before creating Otter we could not afford the highest quality 90% carbon sticks just like many of you,
                so we had to seek sponsorships to be able to use the best equipment. This sparked an idea, "what if we
                can create our own brand and provide people with amazing looking, high-level equipment that is
                affordable?" That is exactly what we have done, not only can we provide you with some of the best
                equipment, but we have made it affordable for you. Otters are also fast intelligent animals that work in
                teams, much like hockey players, albeit some teams work better than others.
            </p>
            <p>
                Based in London, England we are happy to ship all over the world and we would love you to join the Otter
                family. Go check out our Instagram page <a class="underline-link" href="https://www.instagram.com/otterhockey/">@otterhockey</a> and see what we are about!
            </p>
            
        </div>
    </div>
</div>



{% endblock %}