{% extends "base.html" %}
{% load static %}

{% block extra_title %}| FAQ's {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 text-left mt-4">
            <h2 class="subheading text-left">FAQ's</h2>

            <p class="font-weight-bold mt-3">Orders</p>

            <div class="accordion" id="accordionOrders">
                <!-- Frequently Asked Questions Section -->
                <div class="card">
                    <div class="card-header" id="headingOrdersOne">
                        <h2 class="mb-0">
                            <button class="btn text-left" type="button" data-toggle="collapse" data-target="#OrdersOne"
                                aria-expanded="false" aria-controls="OrdersOne">
                                How do I place an order?
                            </button>
                        </h2>
                    </div>
                    <div id="OrdersOne" class="accordion-collapse collapse" aria-labelledby="headingOrdersOne"
                        data-parent="#accordionOrders">
                        <div class="card-body">
                            To make a purchase from the site, simply browse through our range of products. When you see
                            something that you would like to purchase, select the appropriate size and quantity then
                            click the 'Add to Basket' button. This will store the item until checkout for you to add to
                            if wanted.
                            When you have added all the items you wish to purchase to your
                            basket click on the trolley icon button at the top right of the page. You should then verify
                            that
                            the items in your basket are correct. If you're ready to buy you will need to enter your
                            billing and delivery details, and finally your payment details. Once this process is
                            complete and successful you will receive an email confirming the details of your order.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingOrdersTwo">
                        <h2 class="mb-0">
                            <button class="btn text-left" type="button" data-toggle="collapse" data-target="#OrdersTwo"
                                aria-expanded="false" aria-controls="OrdersTwo">
                                How do I cancel my order?
                            </button>
                        </h2>
                    </div>
                    <div id="OrdersTwo" class="collapse" aria-labelledby="headingOrdersTwo"
                        data-parent="#accordionOrders">
                        <div class="card-body">
                            If you need to cancel your order before it has been posted please contact Customer Services
                            using our contact form. Providing your order hasn't been dispatched we should be able to
                            cancel and give you a full refund.
                        </div>
                    </div>
                </div>
            </div>

            <p class="font-weight-bold mt-3">Delivery</p>

            <div class="accordion" id="accordionDelivery">
                <!-- Frequently Asked Questions Section -->
                <div class="card">
                    <div class="card-header" id="headingDeliveryOne">
                        <h2 class="mb-0">
                            <button class="btn text-left" type="button" data-toggle="collapse"
                                data-target="#deliveryOne" aria-expanded="false" aria-controls="deliveryOne">
                                What are the delivery costs for orders in the UK?
                            </button>
                        </h2>
                    </div>
                    <div id="deliveryOne" class="accordion-collapse collapse" aria-labelledby="headingDeliveryOne"
                        data-parent="#accordionDelivery">
                        <div class="card-body">
                            Delivery charges for orders with a value under £100.00 is £5.00. These apply for the UK
                            mainland only. Delivery charges vary outside of the UK. </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingDeliveryTwo">
                        <h2 class="mb-0">
                            <button class="btn text-left" type="button" data-toggle="collapse"
                                data-target="#deliveryTwo" aria-expanded="false" aria-controls="deliveryTwo">
                                When can I expect my delivery?
                            </button>
                        </h2>
                    </div>
                    <div id="deliveryTwo" class="collapse" aria-labelledby="headingDeliveryTwo"
                        data-parent="#accordionDelivery">
                        <div class="card-body">
                            The majority of the orders are despatched within 3 - 5 days and in-case we don't have stock
                            at hand then we will inform you the timescales involved.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingDeliveryThree">
                        <h2 class="mb-0">
                            <button class="btn text-left" type="button" data-toggle="collapse"
                                data-target="#deliveryThree" aria-expanded="false" aria-controls="deliveryThree">
                                Which couriers do you use?
                            </button>
                        </h2>
                    </div>
                    <div id="deliveryThree" class="collapse" aria-labelledby="headingDeliveryThree"
                        data-parent="#accordionDelivery">
                        <div class="card-body">
                            We use Business post, Fedex, DHL, DX, MyHermes, DPD.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingDeliveryFour">
                        <h2 class="mb-0">
                            <button class="btn text-left" type="button" data-toggle="collapse"
                                data-target="#deliveryFour" aria-expanded="false" aria-controls="deliveryFour">
                                What happens if no one is at the delivery address when we try to deliver?
                            </button>
                        </h2>
                    </div>
                    <div id="deliveryFour" class="collapse" aria-labelledby="headingDeliveryFour"
                        data-parent="#accordionDelivery">
                        <div class="card-body">
                            If no one is at the delivery address when our carrier tries to deliver your order, the
                            carrier will leave notification of an attempted delivery. The note will specify if you need
                            to contact them to arrange an alternative delivery date, collect the parcel in person or if
                            they will re-attempt delivery the following day.
                        </div>
                    </div>
                </div>
            </div>
            <p class="font-weight-bold mt-3">Returns</p>

            <div class="accordion" id="accordionReturns">
                <!-- Frequently Asked Questions Section -->
                <div class="card">
                    <div class="card-header" id="headingReturnsOne">
                        <h2 class="mb-0">
                            <button class="btn text-left" type="button" data-toggle="collapse" data-target="#ReturnsOne"
                                aria-expanded="false" aria-controls="ReturnsOne">
                                How do I return an unwanted item for refund or exchange?
                            </button>
                        </h2>
                    </div>
                    <div id="ReturnsOne" class="accordion-collapse collapse" aria-labelledby="headingReturnsOne"
                        data-parent="#accordionReturns">
                        <div class="card-body">
                            You can return it back to us in an unused condition within 14 days. We will be happy to
                            refund your money, excluding postage.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingReturnsTwo">
                        <h2 class="mb-0">
                            <button class="btn text-left" type="button" data-toggle="collapse" data-target="#ReturnsTwo"
                                aria-expanded="false" aria-controls="ReturnsTwo">
                                What to do if I have received an item which is incorrect or damaged?
                            </button>
                        </h2>
                    </div>
                    <div id="ReturnsTwo" class="collapse" aria-labelledby="headingReturnsTwo"
                        data-parent="#accordionReturns">
                        <div class="card-body">
                            In the unlikely event that you received an incorrect or damaged item in your order, please
                            contact Customer Services using our contact form and someone will be in contact ASAP.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}