{% extends "base.html" %}
{% load static %}

{% block extra_title %}| FAQ's {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 text-left mt-4">
            <h2 class="subheading text-left">FAQ's</h2>

            <p class="font-weight-bold">Delivery</p>

            <div class="accordion" id="accordionOne">
                <!-- Frequently Asked Questions Section -->
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn text-left icon" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Title
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-parent="#accordionOne">
                        <div class="card-body">
                            content info
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn text-left icon" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Title 2
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>
            <p class="font-weight-bold mt-3">Returns</p>

            <div class="accordion" id="accordionTwo">
                <!-- Frequently Asked Questions Section -->
                <div class="card">
                    <div class="card-header" id="headingTwoOne">
                        <h2 class="mb-0">
                            <button class="btn text-left icon" type="button" data-toggle="collapse"
                                data-target="#collapseTwoOne" aria-expanded="false" aria-controls="collapseTwoOne">
                                Title
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwoOne" class="accordion-collapse collapse" aria-labelledby="headingTwoOne"
                        data-parent="#accordionTwo">
                        <div class="card-body">
                            content info
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwoTwo">
                        <h2 class="mb-0">
                            <button class="btn text-left icon" type="button" data-toggle="collapse"
                                data-target="#collapseTwoTwo" aria-expanded="false" aria-controls="collapseTwoTwo">
                                Title 2
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwoTwo" class="collapse" aria-labelledby="headingTwoTwo"
                        data-parent="#accordionTwo">
                        <div class="card-body">
                            content info 2
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}