.profile-form-style, .form-control {
    padding: 0.375rem 0.75rem;
    border-width: 3px;
    border-radius: 0;
    border-color: #6D6D6D;
    border-style: inset;
}

#id_default_country option:first-child {
    color: #aab7c4;
}