html {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 90%;
}

body {
    background: url('/media/otter-hockey-hero-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.80rem;
}

article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

header,
main,
footer {
    flex-shrink: 0;
}

.text {
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* base styles */

/* main logo */
.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #6D6D6D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
    color: inherit;
}

a:hover {
    color: #4D4D4D;
    text-decoration: none;
}

/* search bar */
.border-grey {
    border: 3px solid #6D6D6D !important;
}

::placeholder {
    font-size: small;
}

/* Navigation */

.navbar-background {
    background-color: #6D6D6D;
}

.navbar-collapse.show {
    display: none;
}

.nav-link,
.nav-item {
    font-family: 'Bebas Neue', sans-serif;
    color: #FFF;
    font-size: 1.1rem;
    letter-spacing: 2.5px;
}

.nav-link:hover,
.nav-item:hover {
    color: #4D4D4D;
    text-decoration: none;
}

.dropdown {
    margin-right: 5rem;
}

.dropdown-item {
    font-size: 0.85rem;
}

.list-inline-item {
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.banner-offer {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 5px;
}

/* footer */

footer {
    background-color: #6D6D6D;
    position: relative;
    flex-shrink: 0;
}

.footer {
    margin-top: 30px;
}

.footer-column {
    padding: 10px;
}

.footer-item {
    list-style: none;
    font-weight: 200;
    font-size: 0.85rem;
    text-transform: uppercase;
    padding-left: 0;
}

a.footer-item:hover {
    text-decoration: underline #FFF;
}

a .social-media-icons {
    color: #fff;
    padding: 5px;
    font-size: 1rem;
}

/* Index page */

.welcome-container {
    margin: 50px;
}

.welcome-message {
    background-color: #beb5b1a6;
    border-radius: 5px;
}

.welcome-heading {
    font-family: 'Orbitron', sans-serif;
    color: #000;
    padding: 40px 40px 0 40px;
}

.welcome-tag {
    font-family: 'Orbitron', sans-serif;
    color: #000;
    padding: 20px 20px 0 40px;
    font-weight: bold;
}

/* Homepage Button */

.index-button {
    padding-left: 40px;
}

/* Buttons */

.btn-black {
    background: black;
    color: white;
}

.btn-grey {
    background: #6D6D6D;
    color: white;
}

.btn-grey-add {
    background: #6D6D6D;
    border: #6D6D6D 3px solid;
    color: white;
    float: right;
    text-align: center;
    margin-left: 5px;
}

.btn-grey-add:hover {
    background: #4D4D4D;
    border: #4D4D4D 3px solid;
}

.btn-white {
    background: #fff;
    color: #000;
    border: #000 3px solid;
    text-align: center;
}

.btn-white-add {
    background: #fff;
    color: #000;
    border: #000 3px solid;
    float: right;
    text-align: center;
}

.btn-white:hover,
.btn-white-add:hover {
    background: #000;
    color: #FFF;

}

.btn-select-size {
    background: #fff;
    color: #000;
    border: #000 3px solid;
    text-align: center;
    height: 45px;

}

.btn-grey-bag {
    width: 100%;
}

.btn-white-bag {
    width: 100%;
}

#mc_embed_signup .btn-white {
    border: #000 3px solid;
}

#mc_embed_signup .btn-white:hover {
    background: #000;
    color: #FFF;
}

#mc_embed_signup #mce-success-response {
    color: #fff;
}

#mc_embed_signup div#mce-responses {
    margin: 0;
    padding: 0;
    width: 100%;
}

#mc_embed_signup div.response {
    width: 100%;
    margin: 0;
    padding: 0.25rem 0 0.25rem 0;
}

#mc_embed_signup form {
    padding: 0;
}

#mc_embed_signup .mc-field-group {
    width: 100%;
}


/* input {
    border: none;
} */

/* Pseudo Buttons */

.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.btn-grey:hover,
.btn-grey:active,
.btn-grey:focus {
    background: #4D4D4D;
    color: white;
}

/* background colours */

.bg-grey {
    background: #6D6D6D;
}

.bg-black {
    background: #000;
}

/* Text colours */

.text-black {
    color: #000;
}

.text-grey {
    color: #6D6D6D;
}

.text-white {
    color: #fff;
}

.font-weight-semi-bold {
    font-weight: 600;
}

/* Products page */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
}

.product-description {
    display: -webkit-box;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.product-name {
    font-family: 'Orbitron', sans-serif;
    color: #000;
    text-transform: uppercase;
}

.product-price {
    font-size: 1.5rem;
    color: #000;
    float: right;
}

.subheading {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2.5px;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #6D6D6D;
}

.btt-button:hover {
    background-color: #000;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.fa-trash:hover {
    color: #4D4D4D;
}

.progress {
    font-size: inherit;
}

.border-black {
    border: 3px solid #000 !important;
}

.btn {
    font-size: 0.85rem;
}

/* .product-image-container {
    width: 100%;
    height: 250px;
    border: 5px dashed #f7a239;
    background-color: darkslategrey;
}

.product-image {
    width: 100%;
    height: 100%;
} */

.qty_input {
    border: none;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-content {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------------------------------- allauth */

.underline-link,
.underline-link:hover {
    text-decoration: underline #000
}

.allauth-form-style input {
    width: 100%;
}

input, input:focus {
    border-radius: 0;
}

input[type=checkbox] {
    width: auto;
}

input:focus-visible {
    outline: none;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-buttons {
    background-color: #6D6D6D;
    color: #fff;
    border: none;
    padding: 8px 50px;
    float: right;
}

.allauth-buttons:hover {
    background-color: #4D4D4D;
}

.allauth-form-inner-content, .allauth-form-inner-content input, .allauth-form-inner-content input:focus {
    border-width: 3px;
}

.allauth-form-inner-content input {
    padding: 0.375rem 0.75rem;
}

.form-control {
    height: auto;
}

.form-style,
textarea, select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-width: 3px;
}

.form-style {
    padding: 0.375rem 0.75rem;
    border-width: 3px;
    border-radius: 0;
    border-color: #6D6D6D;
    border-style: inset;
}

.form-control {
    font-size: inherit;
    color: inherit;
}

input:focus {
    border-radius: 0;
}

.form-control:focus {
    border-radius: 0;
    border-color: #6D6D6D;
    box-shadow: none;
}

textarea, select {
    border-style: inset;
    border-width: 3px;
    border-image: initial;
    color: #6D6D6D;
}

/* .select:focus {
    border: none;
} */

/* .collapse {
    &:not(.show) {
        display: none;
    }
}

.collapsing {
    height: 0;
    overflow: hidden;
    @include transition($transition-collapse);

    &.collapse-horizontal {
        width: 0;
        height: auto;
        @include transition($transition-collapse-width);
    }
} */

.iframe-container {
    overflow: hidden;
    /* 4:3 aspect ratio */
    padding-top: 75%;
    position: relative;
}

.iframe-container iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

iframe {
    width: 100%;
    height: 100%;
}

#mc_embed_signup input,
.mc-field-group {
    padding: 0;
    border-radius: 0;
}

#mc-embedded-subscribe {
    margin: 0 auto;
    background-color: #fff;
    border: 3px solid #000;
}

#thank-you-message {
    display: none;
}

#thank-you-message.show {
    display: block;
}

.checkout-table {
    display: table;
}

.checkout-info {
    text-align: right;
}

.mobile-label {
    display: none;
}

.checkout-buttons {
    float: right;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: 100%;
    }

    .subheading {
        margin-top: 1.5rem;
    }

    .navbar-background {
        background-color: #FFF;
    }

    .navbar-collapse.show {
        display: block;
        background-color: #6D6D6D;
    }

    
}

@media screen and (max-width: 767px) {

    .btn-grey-add {
        margin-bottom: 1rem;
    }

    .checkout-table {
        display: none;
    }

    .checkout-info {
        text-align: center;
    }

    .desktop-headings {
        display: none;
    }

    .mobile-label {
        display: inline-block;
    }

    .totals {
        font-weight: bold;
        font-size: 1rem;
    }
}



@media screen and (max-width: 640px) {

    .welcome-container {
        width: 80%;
    }

    .banner-offer {
        margin-bottom: 2rem;
    }



}

@media screen and (max-width: 460px) {

    .nav-link,
    .nav-item {
        font-size: 1rem;
    }

    .footer-item {
        font-size: 0.75rem;
    }

    .welcome-container {
        margin: 40px auto 30px;
    }

    .display-4 {
        font-size: 2.5rem
    }

    .btn-grey-add, .btn-white-add {
        width: 100%;
    }


}

@media screen and (max-width: 414px) {

    .header-container {
        padding-top: 140px;
    }

    .nav-link {
        font-size: 0.9rem;
        padding: 0.5rem;
    }

}