html {
    height: 100%;
}

body {
    /* background: url('/media/test/209475470_129587399214744_6805516309758510307_n.jpg') no-repeat center center fixed; */
    /* background: url('/media/test/274680385_988687058403056_2354830811727531073_n.jpg') no-repeat center center fixed; */
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}