<div class="text-white collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown"> <a class="navigation-bar-items d-block d-lg-none" href="{% url 'home' %}" id="home">
                Home
            </a></li>
        <li class="nav-item dropdown"> <a class="navigation-bar-items" href="{% url 'products' %}?category=sticks" id="sticks">
                Sticks
            </a></li>
        <li class="nav-item dropdown"> <a class="navigation-bar-items" href="{% url 'products' %}?category=bags" id="bags">
                Bags
            </a></li>
        <li class="nav-item dropdown"> <a class="navigation-bar-items" href="{% url 'products' %}?category=clothes"
                id="clothes">
                Clothes
            </a></li>
        <li class="nav-item dropdown"> <a class="navigation-bar-items" href="{% url 'products' %}?category=accessories"
                id="accessories">
                Accessories
            </a></li>
    </ul>
</div>