<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font nav-item text-grey mr-5" href="#" id="sticks">
                Sticks
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-item text-grey mr-5" href="#" id="bags">
                Bags
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-item text-grey mr-5" href="#" id="clothes">
                Clothes
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-item text-grey mr-5" href="#" id="accessories">
                Accessories
            </a>
        </li>

    </ul>
</div>