<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-item mr-2 d-block d-sm-block d-md-none" href="{% url 'home' %}" id="home">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-item mr-2" href="{% url 'all_products' %}" id="all">
                All Products
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-item mr-2" href="{% url 'sticks' %}" id="sticks">
                Sticks
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-item mr-2" href="{% url 'bags' %}" id="bags">
                Bags
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-item mr-2" href="{% url 'clothes' %}" id="clothes">
                Clothes
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-item mr-2" href="{% url 'accessories' %}" id="accessories">
                Accessories
            </a>
        </li>

    </ul>
</div>