{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}| Sign Out {% endblock %}


{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<div class="row">
  <div class="col text-center mt-4">
    <h2 class="subheading text-left">Sign Out</h2>
  </div>
</div>

<p class="font-weight-bold">{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="allauth-buttons float-left font-weight-bold" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
