{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet"
        type="text/css">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/5507f4abfd.js" crossorigin="anonymous"></script>

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Otter Hockey {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <article>
        <header class="container-fluid fixed-top">
            <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link">
                        <h2 class="logo">Otter Hockey</h2>
                    </a>
                </div>

                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-grey rounded-0" type="text" name="q"
                                placeholder="Search our site">
                            <div class="input-group-append">
                                <button class="form-control btn-grey border border-grey rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search text-white"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="text-grey nav-link" href="#" id="user-options" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="text-grey nav-link p-0 my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-grey nav-link" href="{% url 'view_bag'%}">
                                <div class="text-center">
                                    <div><i class="fa-solid fa-cart-shopping fa-lg"></i></div>
                                    <p class="text-grey nav-link p-0 my-0">
                                        {% if grand_total %}
                                        £{{ grand_total|floatformat:2 }}
                                        {% else %}
                                        £0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row bg-white">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                        aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>
            <div id="delivery-banner" class="row text-center">
                <div class="col bg-black text-white">
                    <h5 class="banner-offer my-1">FREE DELIVERY ON ORDERS OVER £{{ free_delivery_threshold }}!</h5>
                </div>
            </div>
        </header>
        <main>

            <!-- Messages -->
            {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                {% include 'includes/toasts/toast_success.html' %}
                {% endfor %}
            </div>
            {% endif %}

            {% block page_header %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </main>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-div">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 footer-column text-center">
                            <!-- Help Section -->
                            <h4 class="nav-item text-white">
                                More Information
                            </h4>
                            <div>
                                <a href="{% url 'about' %}" class="footer-item text-white">About us</a>
                            </div>
                            <div>
                                <a href="{% url 'faqs' %}" class="footer-item text-white">FAQ'S</a>
                            </div>
                            <div>
                                <a href="{% url 'privacy' %}" class="footer-item text-white">Privacy Policy</a>
                            </div>
                        </div>

                        <div class="col-md-4 footer-column text-center">
                            <h4 class="nav-item text-white">
                                Subscribe
                            </h4>
                            <p class="footer-item text-white">Get exclusive offers and discount codes by subscribing to
                                our
                                monthly
                                newsletter</p>

                            <div id="mc_embed_signup" class="mailchimp-form">
                                <form
                                    action="https://github.us14.list-manage.com/subscribe/post?u=731631d0774a276b4921995cb&amp;id=76f3fd5fb5"
                                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                    class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                        <div class="mc-field-group">
                                            <input type="email" value="" name="EMAIL" class="required email" placeholder="Email address"
                                                id="mce-EMAIL">
                                        </div>
                                        <div id="mce-responses" class="clear foot">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                        </div>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                                type="text" name="b_731631d0774a276b4921995cb_76f3fd5fb5" tabindex="-1"
                                                value=""></div>
                                        <div class="optionalParent">
                                            <div>
                                                <input type="submit" value="Subscribe" name="subscribe"
                                                    id="mc-embedded-subscribe" class="button-white-add font-weight-bold py-2 px-4">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                            <!--End mc_embed_signup-->
                        </div>

                        <div class="col-md-4 footer-column text-center">
                            <h4 class="nav-item text-white">
                                Contact Us
                            </h4>
                            <div>
                                <a href="{% url 'contact' %}" class="footer-item text-white">Send us a message</a>
                            </div>
                            <div>
                                <!-- social media -->
                                <a href="https://facebook.com" target="_blank" rel="noopener"
                                    aria-label="Visit our Facebook page (opens in new tab)"><i
                                        class="social-media-icons fab fa-facebook"></i></a></li>
                                <a href="https://twitter.com/otterhockey1" target="_blank" rel="noopener"
                                    aria-label="Visit our Twitter page (opens in new tab)"><i
                                        class="social-media-icons fab fa-twitter"></i></a></li>
                                <a href="https://www.instagram.com/otterhockey/" target="_blank" rel="noopener"
                                    aria-label="Visit our Instagram page (opens in new tab)"><i
                                        class="social-media-icons fab fa-instagram"></i></a>
                            </div>
                            <!-- Copyright -->
                            <div class="footer-item text-white">© Otter Hockey, 2022
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </article>

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    <script type='text/javascript'
    src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
    {% endblock %}

</body>

</html>