{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Product Management {% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 mt-4">
            <h2 class="subheading text-left">Product Management</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="font-weight-bold">Add Product</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                <div class="checkout-buttons row mt-3">
                    <div class="col-12">
                        <button id="submit-button" class="btn-grey-add font-weight-bold py-2 px-4">
                            <span class="text-white">Add Product</span>
                        </button>
                        <a href="{% url 'home' %}" class="btn-white-add font-weight-bold py-2 px-4">
                            <span>Return to Home</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}