{% extends "base.html" %}
{% load static %}

{% block extra_title %}| {{ product.name }} {% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row py-3">
        <div class="py-3 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card h-100 border-0">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="py-3 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <div class="card-body pt-0 pb-0">
                <div class="row">
                    <div class="col-8">
                        <h2 class=" product-name mb-2">{{ product.name }}</h2>
                    </div>

                    <div class="col-4">
                        <p class="product-price mb-0 font-weight-bold">£{{ product.price }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-white pt-0 border-0 text-left">
                <div class="row">
                    <div class="col">
                        {% if product.rating %}
                        <p class="text-left text-black"><i class="fas fa-star text-grey mr-1"></i>{{ product.rating }} /
                            10</p>
                        {% else %}
                        <p class="text-left">No Rating</p>
                        {% endif %}
                        <p class="mb-3 text-black text-left">{{ product.description }}</p>

                        {% if product.price >= 100 %}
                        <div class="progress mb-3" style="height: 30px;">
                            <div class="progress-bar bg-grey" role="progressbar"
                                style="width: {{ product.power_score }}%;" aria-valuenow={{ product.power_score }}
                                aria-valuemin="0" aria-valuemax="10">Power</div>
                        </div>
                        <div class="progress mb-3" style="height: 30px;">
                            <div class="progress-bar bg-grey" role="progressbar"
                                style="width: {{ product.control_score }}%;" aria-valuenow={{ product.control_score }}
                                aria-valuemin="0" aria-valuemax="10">Control</div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                {% with product.has_clothes_size as cs %}
                                {% if cs %}
                                <div class="col-6">
                                    <select class="w-100 mb-3 btn-select-size py-2 px-4" name="product_size"
                                        id="id_clothes_size" required>
                                        <option value="" disabled selected>Select Size:</option>
                                        <option value="xs">XS</option>
                                        <option value="s">S</option>
                                        <option value="m">M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% endwith %}

                                {% with product.has_stick_size as ss %}
                                {% if ss %}
                                <div class="col-sm-12 col-md-6">
                                    <select class="w-100 mb-3 btn-select-size py-2 px-4" name="product_size"
                                        id="id_stick_size" required>
                                        <option value="" disabled selected>Select Size:</option>
                                        <option value='35.5"'>35.5"</option>
                                        <option value='36.5"''>36.5"</option>
                                        <option value='37.5"'>37.5"</option>
                                        <option value='38.5"'>38.5"</option>
                                    </select>
                                </div>
                                {% endif %}
                                {% endwith %}

                                <div class="col-sm-12 col-md-6">
                                    <div class="input-group border-black">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-grey rounded-0"
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input text-black text-center" type="number"
                                            name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-grey rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">

                                    <input type="submit" class="btn-grey-add font-weight-bold py-2 px-4"
                                        value="Add to Basket">
                                    <a href="{% url 'products' %}" class="btn-white-add font-weight-bold py-2 px-4">Keep
                                        Shopping
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}